<!DOCTYPE html>
<html>
  <head>
    <title>russianroulette.sh - about</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Play</a></li>
          <li class="active"><a href="/about">About</a></li>
        </ul>
        <h3 class="text-muted">russianroulette.sh</h3>
      </div>

      <div class="jumbotron">
        <h2>what?</h2>
        <p>It's a russian roulette, but for your *nix machine. Fire away, and have fun things happen to your machine.</p>
        <h2>why?</h2>
        <h3>curl -k $STUFF | sudo sh -</h3>
        <p class="lead">Have you ever though about how stupid this sort of installation mechanism is?
All these hip new software libraries do this - 'to install me, just execute this ridiculously insecure thing on your shell! oh, and if that doesn't work, try with --insecure and sudo!'. I mean, seriously guys.
Seriously.
Don't do this.</p>
        <p>A <a href="https://news.ycombinator.com/item?id=6650987">Hacker News</a> article and comments section already describe it better than I could - and the comment thread also sparked the idea of a service such as this one.</p>
        <h2>who?</h2>
        <p>I'm <a href="https://q3k.org/">Sergiusz 'q3k' Bazański</a>. I usually don't do web development, so ignore the ugly bootstrap 'design' and, for the love of Cthulhu, do not look at this page's markup.</p>
        <p>Oh, and if you want to help me to forget that I spent fifty bucks on a joke domain name, you can buy me a beer. My bitcoin wallet address is on my home page, I think.</p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>

